.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  margin-right: 10px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userListEdit {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  background-color: #b4c00e;
  color: white;
  margin-right: 20px;
}

.userListDelete {
  color: red;
  cursor: pointer;
}
