@import "../../app.scss";

.navbar {
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    @include mobile {
      padding: 0 28px;
    }

    .left {
      display: flex;
      align-items: center;

      img {
        height: 25px;
        margin-right: 40px;

        @include mobile {
          display: none;
        }
      }

      span {
        cursor: pointer;
        margin-right: 20px;

        @include tab {
          display: none;
        }

        &.shows,
        &.showall {
          @include tab {
            display: block;
          }
        }

        &.showall {
          @include mobile {
            display: none;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0 15px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            @include mobile {
              right: 0px;
            }
          }
        }
      }
    }
  }
}
